---
import { NavigationDrawer } from '../NavigationDrawer';

interface DataMenu {
  name: string;
  link: string;
}

interface Props {
  data: DataMenu[];
  nameCompany: string;
  logo?: string;
  className?: string;
}

const { data, nameCompany, logo, className } = Astro.props;
---

<main class=`${className} text-sm bg-slate-200`>
  <div
    class="flex px-2 py-4 flex-row mx-auto container gap-5 justify-between items-center"
  >
    <div class="block sm:hidden">
      <NavigationDrawer dataMenu={data} client:load />
    </div>
    <div class="flex flex-row gap-5 justify-center items-center">
      <div class="font-bold text-lg tracking-wider">{nameCompany}</div>
      {logo && <img src={logo} alt={nameCompany} />}
    </div>
    <div class="w-[50px] sm:hidden"></div>
    <div class="hidden md:flex flex-row gap-5 justify-stretch items-center">
      {
        data.map((menu) => (
          <a class="text-black" href={menu.link}>
            {menu.name}
          </a>
        ))
      }
    </div>
    <div class="gap-5 hidden md:flex flex-row">
      <button
        class="bg-slate-400 shadow-md px-4 py-2 text-sm font-semibold text-white rounded"
        >Register</button
      >
      <button
        class="bg-slate-100 shadow-md px-4 py-2 text-sm font-semibold text-black rounded"
        >Login</button
      >
    </div>
  </div>
</main>
