---
import { NavigationDrawer } from '@/components/NavigationDrawer';
import { Button } from '@/components/ui/button';

interface DataMenu {
  name: string;
  link: string;
}

interface Props {
  data: DataMenu[];
  nameCompany: string;
  logo?: string;
  className?: string;
}

const { data, nameCompany, logo, className } = Astro.props;
---

<section class=`${className} border-b`>
  <div
    class="w-full max-w-2xl px-2 sm:px-0 xl:container mx-auto flex py-2 flex-row gap-5 justify-between items-center"
  >
    <div class="block sm:hidden">
      <NavigationDrawer dataMenu={data} client:load />
    </div>
    <div class="flex flex-row gap-5 justify-center items-center">

      <a href="/">
        <div class="font-bold text-lg tracking-wider">{nameCompany}</div>
      </a>
      {logo && <img src={logo} alt={nameCompany} />}
    </div>
    <div class="w-[50px] sm:hidden"></div>
    <div class="gap-3 hidden md:flex flex-row">
      <Button variant={'outline'}><a href="register">Register</a></Button>
      <Button variant={'outline'}><a href="login">Login</a></Button>
    </div>
  </div>
</section>
