---
import { Button } from '@/components/ui/button';
import { Progress } from '@/components/ui/progress';
import Layout from '@/layouts/Layout.astro';
import { AspectRatio } from '@radix-ui/react-aspect-ratio';
import { AvatarComponent } from '@/components/AvatarComponent';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';

import projectData from '@/data/projects.json';
const project = projectData.projects[0];
---

<Layout title="Project Detail" isLoggedIn={true}>
  <header class="flex flex-col mb-4 border-b md:border-b-0 xl:mt-8">
    <div class="w-full xl:grid xl:grid-cols-12 xl:gap-12 xl:container mx-auto">
      <!-- Project thumbnail -->
      <div class="col-span-8 mb-4">
        <AspectRatio ratio={16 / 9}>
          <img
            src={'https://images.unsplash.com/photo-1509062522246-3755977927d7?q=80&w=2132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'}
            alt=""
            class="rounded-md object-cover hover:cursor-pointer h-full w-full hover:scale-[1.01] ring-slate-200 hover:ring-4 hover:ring-offset-2 duration-400 ease-in-out delay-75 transition-all"
          />
        </AspectRatio>
      </div>
      <!-- Project thumbnail -->
      <div class="order-first col-span-4">
        <!-- Title and Description -->
        <section
          class="w-full max-w-sm px-2 sm:px-0 sm:max-w-2xl xl:container mx-auto mb-6 col-span-1"
        >
          <h1 class="text-2xl xl:text-3xl font-bold mb-5 mt-2.5">
            {project.project_name}
          </h1>
          <p class="leading-relaxed">
            {project.project_description}
          </p>
        </section>
        <!--/ Description -->
        <!-- Business Owner -->
        <section class="border-y w-full">
          <div
            class="w-full max-w-sm px-2 sm:px-0 sm:max-w-2xl mx-auto xl:container py-2"
          >
            <span class="font-semibold">Business Creator</span>
            <div class="flex flex-row gap-x-2.5">
              <div>
                <AvatarComponent
                  client:load
                  variant="h-[60px] w-[60px]"
                  src="https://avatars.githubusercontent.com/u/162709834?s=200&v=4"
                  alt="IMPHNEN"
                  fallbackText="IM"
                />
              </div>
              <div class="self-center font-bold">IMPHNEN</div>
            </div>
          </div>
        </section>
        <!--/ Business Owner -->
        <!-- Duration, Progress, and Budget -->
        <section class="bg-accent sm:bg-inherit pb-6">
          <div
            class="w-full max-w-sm px-2 sm:px-0 sm:max-w-2xl xl:container mx-auto py-3"
          >
            <div class="mb-4">
              <div class="text-xs sm:text-sm">Project duration</div>
              <div class="font-bold text-lg sm:text-xl">
                {project.project_duration}
              </div>
            </div>
            <Progress value={50} />
            <div class="flex flex-row justify-between mt-2">
              <div class="leading-none">
                <span
                  class="font-bold text-primary text-lg sm:text-xl leading-none"
                  >$130000</span
                >
                <br />
                <span class="text-xs sm:text-sm"
                  >from ${project.project_budget}</span
                >
              </div>
              <div class="leading-none">
                <div class="font-bold text-lg sm:text-xl leading-none">30</div>
                <span class="text-xs sm:text-sm">days left</span>
              </div>
            </div>
          </div>
          <!--/ Duration, Progress, and Budget -->
          <!-- Call To Action -->
          <div
            class="w-full max-w-sm px-2 sm:px-0 sm:max-w-2xl xl:container mx-auto mt-2"
          >
            <Button className="w-full py-5">
              <a href="#" class="text-lg">Invest</a>
            </Button>
          </div>
          <!--/ Call To Action -->
        </section>
      </div>
    </div>
  </header>
  <!-- Talents required -->
  <section class="my-10">
    <div class="w-full max-w-2xl px-2 sm:px-0 xl:container mx-auto">
      <h2 class="text-xl sm:text-2xl font-bold">Talents Required</h2>
    </div>
    <div
      class="px-2 max-w-2xl sm:px-0 xl:grid xl:grid-cols-2 xl:container gap-4 mx-auto"
    >
      {
        project.talents_required.map((talent, index) => (
          <section class="py-2">
            <div class="w-full mx-auto md:container">
              <Card>
                <CardHeader className="px-4 sm:px-6">
                  <CardTitle>
                    <h2 class="text-lg">{talent.job_title}</h2>
                  </CardTitle>
                  <CardDescription>
                    <div class="flex flex-row justify-between md:justify-normal gap-8">
                      <div>
                        <span>Budget Allocation</span>
                        <br />
                        <span class="font-bold text-base sm:text-lg text-black">
                          ${talent.budget_allocation}
                        </span>
                      </div>
                      <Button
                        className="self-end text-black"
                        variant={'outline'}
                      >
                        Apply
                      </Button>
                    </div>
                  </CardDescription>
                </CardHeader>
                <CardContent className="px-4 sm:px-6">
                  <h3 class="text-sm sm:text-base text-muted-foreground">
                    Scope of work
                  </h3>
                  <p>{talent.scope_of_work}</p>
                </CardContent>
              </Card>
            </div>
          </section>
        ))
      }
    </div>
  </section>
  <!--/ Talents required -->
</Layout>
